// Options
//
// Quickly modify global styling by enabling or disabling optional features.
// See https://getbootstrap.com/docs/5.1/customize/options/

$enable-caret:                true !default;
$enable-rounded:              true !default;
$enable-shadows:              true !default;
$enable-gradients:            false !default;
$enable-transitions:          true !default;
$enable-reduced-motion:       true !default;
$enable-smooth-scroll:        false !default;
$enable-grid-classes:         false !default;
$enable-cssgrid:              false !default;
$enable-button-pointers:      true !default;
$enable-rfs:                  true !default;
$enable-validation-icons:     true !default;
$enable-negative-margins:     true !default;
$enable-deprecation-messages: true !default;
$enable-important-utilities:  true !default;


// Prefix for :root CSS variables

$variable-prefix:             bs- !default;


// Custom options

$enable-backdrop-filter:      true !default;

