@use "../bootstrap" as bs;
@use "../bootstrap/buttons";
@use "../colors";
@use "../variables";


// default "unstyled" button with support for icon and text
.wy-button {
  @extend %btn;
  @include bs.button-size(bs.$btn-padding-y, bs.$btn-padding-x, bs.$btn-font-size, bs.$btn-border-radius);
  border-color: transparent;
  box-shadow: none !important;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: .25rem;

  &:hover {
    background-color: variables.$icon-hover-bg;
  }

  &:focus {
    background-color: variables.$icon-focus-bg;
  }

  &:active, &.wy-active {
    background-color: variables.$icon-focus-bg;

    &:hover {
      background-color: variables.$icon-focus-bg;
    }
  }
  // dark theme
  .wy-dark & {
    color: variables.$icon-light-color;
  }


  &:not(.wy-button-icon) {
    .wy-icon {
      &:first-child {
        margin-left: -.5rem;
      }

      &:last-child {
        margin-right: -.5rem;
      }
    }
  }

  &:not(.wy-button-primary) {
    .wy-icon {
      color: variables.$icon-color;
    }

    &:hover {
      .wy-icon {
        color: variables.$icon-hover-color;
      }
    }

    .wy-dark & {
      .wy-icon {
        color: variables.$icon-light-color;
      }

      &:hover {
        color: variables.$icon-light-hover-color;

        .wy-icon {
          color: variables.$icon-light-hover-color;
        }
      }
    }
  }
}

// text in button with icon and text
.wy-button-text { 
  @include bs.text-truncate();
}

// button with only icon (no text)
.wy-button-icon {
  width: 2rem;
  height: 2rem;
  padding: .25rem;
  line-height: 1;
  border-radius: 50%;
}

// primary button
.wy-button-primary {
  // regular button
  &:not(.wy-button-icon) {
    @include bs.button-variant(colors.$primary, colors.$primary);
  }

  // icon button
  &.wy-button-icon {
    color: variables.$icon-color-primary;

    &:hover {
      color: variables.$icon-hover-color-primary;
    }

    .wy-dark & {
      .wy-icon {
        color: variables.$icon-light-color-primary;
      }

      &:hover {
        color: variables.$icon-light-hover-color-primary;

        .wy-icon {
          color: variables.$icon-light-hover-color-primary;
        }
      }
    }
  }
}

.wy-buttons {
  display: flex;
  align-items: center;

  > :not(:last-child) {
    margin: 0 .5rem 0 0;
  }
}
