@use "../namespace";
@use "../variables";
@use "../colors";
@use "../bootstrap/ports/forms";

$wy: namespace.$prefix;

@mixin input {
  @extend 
    %form-control, 
    %form-control-sm;
  
  background: colors.$light;
  border-color: transparent;
}

.#{$wy}-input {
  @include input;
}

.#{$wy}-description {
  @extend %form-text
}

.#{$wy}-label {
  @extend %form-label;
}