@use "../bootstrap" as bs;
@use "../bootstrap/list-group";
@use "../variables";
@use "./avatar";
@use "./search";
@use "./typing";

.wy-messenger-provider {
  display: flex;
  min-height: 0;
  min-width: 0;
  flex: 1 1 0;
}

.wy-messenger-sidebar {
  width: 300px;
  border-right: 1px solid #ccc;
}

.wy-messenger-conversation{
  overflow-anchor: none;
  display: flex;
  flex-direction: column;                    
  flex: 1 1 0;
}

