@use "../namespace";
@use "../variables";
@use "../bootstrap/ports/list-group";
@use "../bootstrap/mixins" as bs;

@use "./avatar";
@use "./search";
@use "./typing";

$wy: namespace.$prefix;

.#{$wy}-messenger-provider {
  display: flex;
  min-height: 0;
  flex: 1 1 0;

  .#{$wy}-messenger-sidebar {
    width: 300px;
    overflow-y: scroll;
    border-right: 1px solid #ccc;
  }

  .#{$wy}-messenger-conversation{
    overflow-anchor: none;
    display: flex;
    flex-direction: column;                    
    flex: 1 1 0;
    overflow-y: scroll;
  }
}

