@use "../namespace";
@use "../variables";
@use "../bootstrap/ports/list-group";
@use "../bootstrap/mixins" as bs;

@use "./avatar";
@use "./search";
@use "./typing";

$wy: namespace.$prefix;

.#{$wy}-messenger-provider {
  display: flex;
  height: 100%;


  .#{$wy}-messenger-sidebar {
    width: 300px;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
    border-right: 1px solid #ccc;
  }

  .#{$wy}-messenger-conversation{
    display: flex;
    flex-direction: column;                    
    flex: 1;
    height: 100vh;
    max-height: 100vh;
    overflow-y: scroll;
  }
}

