@use "../namespace";
@use "../variables";
@use "../colors";
@use "../bootstrap/mixins" as bs;

$wy: namespace.$prefix;

// Consolidate this with overlays/modals
.#{$wy}-viewport {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2147483647; /* max possible z-index */;
    pointer-events: none;
}

// Overlays

.#{$wy}-overlays {
    pointer-events: none;
    width: auto;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transform-style: preserve-3d;
    overflow-y: initial;
    overflow-x: initial;
    perspective: 100rem;
    perspective-origin: center center;

    .#{$wy}-panel {
        background-color: rgba(mix(colors.$white, #FFF), variables.$opacity-backdrop);
        //max-height: 100vh; // Causes height error in safari

        &:not(.#{$wy}-transition) {
            transform: translateZ(-4rem) !important;
        }

        .#{$wy}-controls {
            position: absolute;
            border-bottom: none;
            flex-direction: row;
            transition: opacity .1s .2s step-end;


            .#{$wy}-icon {
                color: variables.$icon-color;
            }
        }

        &.#{$wy}-loaded {
            .#{$wy}-controls {
                pointer-events: none;
                opacity: 0;
            }
        }

        .#{$wy}-panel-frame {
            background-color: transparent;
        }

        &.#{$wy}-controls-light {
            .#{$wy}-icon {
                color: variables.$icon-color;
            }
        }

        &.#{$wy}-light {
            background-color: rgba(mix(colors.$white, #FFF), variables.$opacity-backdrop);

            .#{$wy}-icon {
                color: variables.$icon-color;
            }
        }

        &.#{$wy}-controls-dark {
            .#{$wy}-icon {
                color: variables.$navbar-dark-color;

                &:hover, &:focus {
                    color: variables.$navbar-dark-hover-color;
                }

                &:active {
                    color: variables.$navbar-dark-active-color;
                }
            }
        }

        &.#{$wy}-dark {
            background-color: rgba(mix(colors.$dark, #000), variables.$opacity-backdrop);

            .#{$wy}-icon {
                color: variables.$navbar-dark-color;

                &:hover, &:focus {
                    color: variables.$navbar-dark-hover-color;
                }

                &:active {
                    color: variables.$navbar-dark-active-color;
                }
            }

            &.#{$wy}-open[data-title]::before {
                background: rgba(colors.$dark, variables.$opacity-backdrop);
                color: variables.$navbar-dark-color;
                border-bottom: variables.$border-width #000 solid;
            }
        }

        &.#{$wy}-floating {
            @include bs.media-breakpoint-up(md, variables.$grid-breakpoints) {
                left: 1rem;
                top: 1rem;
                right: 1rem;
                bottom: 1rem;
                border-radius: .1875rem;
                box-shadow: variables.$md-shadow-16dp;
                &:not(.#{$wy}-scroll-y) {
                    overflow: hidden;
                }
            }
        }

        &.#{$wy}-modal {
            background-color: rgba(mix(colors.$white, #FFF), variables.$opacity-backdrop);

            @include bs.media-breakpoint-up(md, variables.$grid-breakpoints) {
                left: auto;
                right: auto;
                top: 2rem;
                bottom: 3.2rem;
                margin-left: 4rem;
                margin-top: auto;
                margin-right: 4rem;
                margin-bottom: auto;
                border-radius: .25rem;
                box-shadow: variables.$md-shadow-16dp;
                width: 32rem;
                max-height: 32rem;
                &:not(.#{$wy}-scroll-y) {
                    overflow: hidden;
                }
            }
        }

        &.#{$wy}-loading {
            .#{$wy}-controls {
                transition: opacity variables.$md-animation-duration variables.$md-animation-curve-default;
                //transition: opacity .2s .2s variables.$md-animation-curve-default;
                opacity: 1;
            }
        }
    }
}