@use "../colors";
@use "../utils/scroll";

html {
  overflow-x: hidden;
  touch-action: pan-y;

  &.windows {
    &.firefox {
      // Initially hidden scrollbars to avoid relayouting
      //overflow: hidden;
      scrollbar-width: thin;
      scrollbar-color: rgba(colors.$gray-500, 0.75) transparent;

      .scroll-y {
        // custom scrollbar for firefox
        scrollbar-width: thin;
        scrollbar-color: rgba(colors.$gray-500, 0.75) transparent;
      }
    }
  }

  &.scrollbars {
    // custom scrollbar styling
    // use overlay scrollbars if supported
    @supports (overflow-y: overlay) {
      @include scroll.custom-scrollbar;
      overflow-y: overlay;

      // Should be handled where used instead
      .fixed-top {
        width: 100vw;
      }
    }

    @supports (overflow-y: overlay) {
      @include scroll.scrollbar-top-padding(#{'var(--scrollbar-adjust-top, 0)'});
      @include scroll.scrollbar-bottom-padding(#{'var(--scrollbar-adjust-bottom, 0)'});
    }

    .custom-scrollbar {
      @include scroll.custom-scrollbar;
    }

    .scroll-y {
      @supports (overflow-y: overlay) {
        @include scroll.custom-scrollbar;
        overflow-y: overlay;
      }
    }
  }
}

html, html.scrollbars {
  // prevent scroll when opening modals etc.
  &.backdrop, &.block-scroll {
    overflow: hidden !important;
  }
}

// element for detecting scrollbar capabilities (visibility, overlay etc.)
.scrollbar-detection {
  position: fixed;
  top: 0;
  left: 0;
  width: 8rem;
  height: 8rem;
  overflow: scroll;
  z-index: -99999;
  pointer-events: none;
  visibility: hidden;
}
