@use "../namespace";
@use "../colors";
@use "../variables";
@use "../bootstrap/ports/forms";
@use "../bootstrap/ports/tables";

@use "./icons";
@use "./spinner";
@use "../bootstrap/mixins" as bs;

$wy: namespace.$prefix;

input[type="search"]::-webkit-search-cancel-button {
  // REVIEW: can we use close.svg?
  -webkit-appearance: none;
}

.#{$wy}-search-form {
  position: relative;
  padding-top: .5rem;
  padding-bottom: .5rem;

  [type=reset] {
    display: none;
  }

  .#{$wy}-button-icon {
    position: absolute;
    top: .25rem;
    border-radius: 50%;
    top: .5rem;
    //left: .5rem;
    padding: 0.25rem;
    z-index: 4;
  }
}

.#{$wy}-search-input {
  @extend %form-control,
  %form-control-sm;
  background: colors.$light;
  border-color: transparent;
  padding-left: 2rem;
}

.#{$wy}-searching .#{$wy}-search-form,
.#{$wy}-searching.#{$wy}-search-form {
  [type=reset] {
    display: inline;
  }

  [type=submit] {
    display: none;
  }
}

.#{$wy}-search-result-table {
  @extend %table,
  %table-icons;

  td:nth-child(2) {
    @include bs.text-truncate();
  }
}

.#{$wy}-search-no-result {
  color: variables.$text-muted;
  text-align: center;
}
